@import "src/scss/settings/mixins";
@import "src/scss/settings/fonts";
@import "src/scss/settings/colors";

.contact__box_second {
  max-width: 440px;

  @include sm {
    margin-top: 40px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

label[for="name"],
label[for="email"] {
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 0.6875rem;
  color: $color-primary;
  text-transform: uppercase;
  letter-spacing: 0.205rem;
}

.name,
.email {
  border: none;
  border-bottom: 1px solid $color-gray;
  height: 42px;
}

.name {
  margin-bottom: 42px;
}

.custom_checkbox {
  display: flex;
  margin-top: 30px;

  p {
    font-family: $font-open-sans;
    font-size: 0.75rem;
    color: $color-gray;
    padding-bottom: 20px;
  }

  input[type='checkbox'] {
    display: none;
  }

  span {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid $color-gray;
    border-radius: 4px;
    flex-shrink: 0;
    margin: 5px 10px 0 0;
  }
}

.contact__btn {
  display: flex;
  justify-content: flex-end;
}
