@import "src/scss/settings/mixins";

.container {
  max-width: 1352px;
  margin: 0 auto;

  @media (max-width: 1352px) {
    width: 100%;
    padding: 0 15px;
  }
}

.contact__boxes {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;

  @include sm {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px 15px;
  }
}
